.tatiyanna {
  color: #e61414;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tweety {
  color: purple;
}

* {
  margin: 0;
  padding: 0;
}
